// text

$font_size_40: 14px
$font_size_50: 18px
$font_size_60: 22px
$font_size_65: 28px
$font_size_70: 32px
$font_size_71: 36px
$font_size_73: 44px
$font_size_90: 64px
$font_size_100: 84px

// spacing

$input_padding_lr: 20px
$input_height: 65px
$section_text_left_padding_left: 340px
// number at the end is just a counter for a reused section padding (there might be multiple)
// lr means left right
$padding_lr1: 200px
$form_btns_spacing: 20px

// the left and right column weights for the cross-section background that looks like a rotated x
// have to add 100%
$cross_bg_left_perc: 51%
$cross_bg_right_perc: 49%

// left margin for sections that have the section number on the left side
$number_on_left_section_margin_left: 510px
$number_on_left_section_margin_left_desktop_60: 400px
$number_on_left_section_margin_left_desktop_58: 300px
$number_on_left_section_margin_left_desktop_50: 200px

$section_padding_lr_desktop_50_mq: 40px
$section_padding_lr_tablet_mq: 40px
$section_padding_lr_phone_60_mq: 24px

$nav_bar_mobile_height: 90px

// color

$color_purple_light: #AEA8BF
$color_purple_light2: #847C9C
$color_purple_dark: #271952
$color_accent: #DE5C62
$color_bg_light: #F7F6F8
$color_purple2: #966284
$color_purple3: #554A78
$color_gray_light: #F6F6F6
$color_white: #FFFFFF
$color_green: #6BB9BD

// btn

$round_btn_size: 150px
$round_btn_size_phone_60: 120px

$square_btn_height: 65px
$form_btn_height: 65px // e.g.get started form buttons in grid
$square_btn_padding_lr: 32px
$square_btn_padding_lr_phone_45: 18px

// when the screen is larger than this width, the content is centered horizontally with space on the sides
$mq_max_content_width: 2000px

// media queries

$mq_desktop_60: 1800px
$mq_desktop_58: 1600px
$mq_desktop_50: 1500px
$mq_desktop_40: 1200px
$mq_tablet_60: 1024px
$mq_tablet_40: 840px
$mq_tablet_20: 620px
$mq_phone_60: 500px
$mq_phone_45: 400px
$mq_phone_40: 375px
