// text

$font_size_40: 14px
$font_size_50: 18px
$font_size_60: 22px
$font_size_65: 28px
$font_size_70: 32px
$font_size_71: 36px
$font_size_73: 44px
$font_size_90: 64px
$font_size_100: 84px

// spacing

// color

$color_purple_light: #AEA8BF
$color_purple_light2: #847C9C
$color_purple_dark: #271952
$color_accent: #DE5C62
$color_bg_light: #F7F6F8
$color_purple2: #966284
$color_purple3: #554A78
$color_gray_light: #F6F6F6
$color_white: #FFFFFF
$color_green: #6BB9BD



// btn

// media queries
